@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

// Primary Colors
$darkblue: rgb(3, 0, 51);
$green: rgb(121, 199, 121);
$lightGray: rgb(233, 233, 233);
$violet: rgb(134, 1, 196);

// flex the element
@mixin flex($justifyContent, $alignItems) {
	display: flex;
	justify-content: $justifyContent;
	align-items: $alignItems;
}


// For every title
.title {
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}

// When set to active
.active {
	background: $green;
}




@mixin transform($skewY, $translateY) {
	transform: skewY($skewY) translateY($translateY);
}

.introduction {
	background: $darkblue;
	color: white;
	padding: 80px 40px;
	@include transform(-10deg, -120px);
	transform-origin: top left;
	margin-bottom: -100px;

	header {
		@include transform(10deg, 170px);
		@include flex(space-between, center);

		img[alt='segment-logo'] {
			width: 200px;
			margin-left: -10px;
		}

		ul {
			
			li {
				display: inline-block;
				list-style: none;

				a {
					text-decoration: none;
					color: white;
					display: block;
					padding: 12px 20px;
					border-radius: 5px;

					&:hover {
						filter: brightness(90%);
					}
				}
			}
		}
	}

	& > .info {
		@include transform(10deg, 170px);
		@include flex(space-evenly, center);
		padding: 100px 0;

		// Area where you can see 'Personalisation ...'
		.entries {
			width: 550px;

			.date, .mission {
				font-size: 16px;
			}

			.date {
				
				i {
					color: $green;
				}
			}

			.mission-title {
				font-weight: bold;
				font-size: 50px;
				letter-spacing: 1px;
				margin: 20px 0 25px;
			}

			.mission {
				margin-bottom: 25px;
			}

			.author {
				@include flex(flex-start, center);

				.image-container {
					width: 110px;
					height: 110px;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: center 0;
						border-radius: 50%;
					}
				}

				.info {
					@include flex(center, flex-start);
					flex-direction: column;
					margin-left: 20px;

					.name {
						color: $green;
						font-weight: bold;
						font-size: 18px;
						letter-spacing: 1px;
					}

					.position {
						margin: 10px 0 8px;
						font-size: 14px;
						font-style: italic;
					}

					img {
						width: 120px;
						margin-left: -5px;
					}
				}
			}
		}

		// Sign Up for the live Webinar countdawn UI
		.countdown {
			background: white;
			color: black;
			position: relative;
			padding: 70px 40px 40px;
			width: 500px;
			border-radius: 15px;
			box-shadow: 0 35px 35px rgba(0, 0, 0, 0.068);

			.ticket-icon {
				border: 5px solid white;
				border-radius: 50%;
				width: 100px;
				height: 100px;
				background: $lightGray;
				padding: 10px;
				position: absolute;
				top: -50px;
				left: 50%;
				transform: translateX(-50%);

				img {
					height: 100%;
					width: 100%;
					object-fit: contain;
				}
			}

			.sign-up {
				font-weight: bold;
				font-size: 30px;
				text-align: center;
			}

			.timer {
				@include flex(space-around, center);
				margin: 30px 0 60px;

				& > div {
					width: 70px;
					height: 50px;
					background: $lightGray;
					@include flex(center, center);
					font-size: 30px;
					font-weight: bold;
					color: $violet;
					position: relative;
					border-radius: 10px;
				}

				.days::after,
				.hours::after,
				.minutes::after,
				.seconds::after {
					font-size: 11px;
					position: absolute;
					bottom: -20px;
				}

				.days::after {
					content: 'days';
				}

				.hours::after {
					content: 'hours';
				}

				.minutes::after {
					content: 'minutes';
				}

				.seconds::after {
					content: 'seconds';
				}
			}

			#userFullname, #userEmail, input[type='submit'] {
				display: block;
				margin: 0 auto 30px;
				width: 95%;
				padding: 15px;
				border-radius: 5px;
				font-size: 1em;
				border: none;
				box-shadow: 0 0 1px black;

				&:focus {
					outline: none;
				}
			}

			input[type='submit'] {
				box-shadow: none;
				color: white;
				margin-bottom: 0;
				margin-top: 45px;
			}
		}
	}

}

.our-mission {
	width: 700px;
	margin: 0 auto 30px;
	padding: 50px 0;

	p {
		text-align: center;
	}

	// Title here

	.one {
		margin: 40px 0 30px;
	}
}

.whats-covered {
	padding: 50px 0;
	margin: 0 auto 30px;

	.title {
		margin-bottom: 30px;
	}

	.covered-container {
		@include flex(center, none);
		flex-wrap: wrap;

		.covered {
			@include flex(space-between, center);
			padding: 30px;
			width: 550px;
			margin: 10px;
			border-radius: 20px;
			box-shadow: 0 15px 15px $lightGray;

			img {
				width: 35px;
				height: 35px;
				align-self: flex-start;
				margin-right: 30px;
				border-radius: 50%;
				box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
			}

			.detail {

				.to-cover {
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 10px;
				}

				.description {
					font-size: 14px;
				}
			}
		}
	}
}

.what-participants-say {
	padding: 50px 0;

	.title {
		margin-bottom: 40px;
	}

	.participants {
		@include flex(space-evenly, center);

		.participant {
			padding: 30px 30px 40px;
			width: 500px;
			border-radius: 20px;
			box-shadow: 0 20px 20px $lightGray;

			.feedback {
				margin-bottom: 20px;

				&::before, &::after {
					content: '"';
					font-weight: bold;
					font-size: 18px;
					margin: 0 4px;
				}

				&::selection {
					background: $violet;
					color: white;
				}
			}

			.information {
				@include flex(flex-start, center);

				.image-container {
					width: 80px;
					height: 80px;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: center 0;
						border-radius: 50%;
					}
				}

				.info {
					@include flex(center, flex-start);
					flex-direction: column;
					margin-left: 20px;

					.name {
						color: $violet;
						font-weight: bold;
						font-size: 18px;
						letter-spacing: 1px;
					}

					.position {
						margin: 5px 0 3px;
						font-size: 14px;
					}
				}
			}
		}
	}
}

.sign-up-for-free {
	background: $darkblue;
	color: white;
	padding: 40px 40px 80px;
	position: relative;
	margin-top: 400px;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 300px;
		background: $darkblue;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		@include transform(-10deg, -120px)
	}

	.image-container {
		transform: translateY(-400px);
		width: 80%;
		margin: 0 auto;
		position: relative;
		margin-bottom: -280px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 35px;
			width: 70%;
			height: 10px;
			background: rgba(0, 0, 0, 0.192);
			border-radius: 50% 50% 50% 50% / 30% 30% 30% 30% ;
			box-shadow: 0 0 30px black;
			transform: rotate(5deg);
			z-index: -1;
		}
	}

	.sign-up {
		@include flex(space-between, center);
		margin-bottom: 150px;

		.text {
			width: 600px;

			.title {
				margin-bottom: 40px;
			}

			.description {
				line-height: 20px;
				text-align: center;
			}
		}

		form {
			width: 500px;

			#userFullname, #userEmail, input[type='submit'] {
				display: block;
				margin: 0 auto 30px;
				width: 95%;
				padding: 15px;
				border-radius: 5px;
				font-size: 1em;
				border: none;
				box-shadow: 0 0 1px black;

				&:focus {
					outline: none;
				}
			}

			input[type='submit'] {
				box-shadow: none;
				color: white;
				margin-bottom: 0;
				margin-top: 45px;
			}
		}
	}
}

footer {
	background: $darkblue;
	color: white;
	@include flex(space-between, center);
	font-size: 12px;
	padding: 40px;

	ul {
		
		li {
			display: inline-block;
			margin-left: 20px;

			a {
				text-decoration: none;
				color: white;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}