* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.title {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.active {
  background: #79c779;
}

.introduction {
  background: #030033;
  color: white;
  padding: 80px 40px;
  transform: skewY(-10deg) translateY(-120px);
  transform-origin: top left;
  margin-bottom: -100px;
}
.introduction header {
  transform: skewY(10deg) translateY(170px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introduction header img[alt=segment-logo] {
  width: 200px;
  margin-left: -10px;
}
.introduction header ul li {
  display: inline-block;
  list-style: none;
}
.introduction header ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 12px 20px;
  border-radius: 5px;
}
.introduction header ul li a:hover {
  filter: brightness(90%);
}
.introduction > .info {
  transform: skewY(10deg) translateY(170px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0;
}
.introduction > .info .entries {
  width: 550px;
}
.introduction > .info .entries .date, .introduction > .info .entries .mission {
  font-size: 16px;
}
.introduction > .info .entries .date i {
  color: #79c779;
}
.introduction > .info .entries .mission-title {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1px;
  margin: 20px 0 25px;
}
.introduction > .info .entries .mission {
  margin-bottom: 25px;
}
.introduction > .info .entries .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.introduction > .info .entries .author .image-container {
  width: 110px;
  height: 110px;
}
.introduction > .info .entries .author .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 0;
  border-radius: 50%;
}
.introduction > .info .entries .author .info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}
.introduction > .info .entries .author .info .name {
  color: #79c779;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
.introduction > .info .entries .author .info .position {
  margin: 10px 0 8px;
  font-size: 14px;
  font-style: italic;
}
.introduction > .info .entries .author .info img {
  width: 120px;
  margin-left: -5px;
}
.introduction > .info .countdown {
  background: white;
  color: black;
  position: relative;
  padding: 70px 40px 40px;
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.068);
}
.introduction > .info .countdown .ticket-icon {
  border: 5px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #e9e9e9;
  padding: 10px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.introduction > .info .countdown .ticket-icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.introduction > .info .countdown .sign-up {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.introduction > .info .countdown .timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 60px;
}
.introduction > .info .countdown .timer > div {
  width: 70px;
  height: 50px;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #8601c4;
  position: relative;
  border-radius: 10px;
}
.introduction > .info .countdown .timer .days::after,
.introduction > .info .countdown .timer .hours::after,
.introduction > .info .countdown .timer .minutes::after,
.introduction > .info .countdown .timer .seconds::after {
  font-size: 11px;
  position: absolute;
  bottom: -20px;
}
.introduction > .info .countdown .timer .days::after {
  content: "days";
}
.introduction > .info .countdown .timer .hours::after {
  content: "hours";
}
.introduction > .info .countdown .timer .minutes::after {
  content: "minutes";
}
.introduction > .info .countdown .timer .seconds::after {
  content: "seconds";
}
.introduction > .info .countdown #userFullname, .introduction > .info .countdown #userEmail, .introduction > .info .countdown input[type=submit] {
  display: block;
  margin: 0 auto 30px;
  width: 95%;
  padding: 15px;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  box-shadow: 0 0 1px black;
}
.introduction > .info .countdown #userFullname:focus, .introduction > .info .countdown #userEmail:focus, .introduction > .info .countdown input[type=submit]:focus {
  outline: none;
}
.introduction > .info .countdown input[type=submit] {
  box-shadow: none;
  color: white;
  margin-bottom: 0;
  margin-top: 45px;
}

.our-mission {
  width: 700px;
  margin: 0 auto 30px;
  padding: 50px 0;
}
.our-mission p {
  text-align: center;
}
.our-mission .one {
  margin: 30px 0;
}

.whats-covered {
  padding: 50px 0;
}
.whats-covered .title {
  margin-bottom: 30px;
}
.whats-covered .covered-container {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-wrap: wrap;
}
.whats-covered .covered-container .covered {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 550px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 15px 15px #e9e9e9;
}
.whats-covered .covered-container .covered img {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin-right: 30px;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.whats-covered .covered-container .covered .detail .to-cover {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.whats-covered .covered-container .covered .detail .description {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
